In [1]:
# github.com/echtr

In [2]:
import numpy as np
import pandas as pd

In [3]:
l = [1, 2, 3, 9, 8, 7]

In [4]:
# dataframe oluşturma
pd.DataFrame(l, columns = ["rakamlar"])

   rakamlar
0         1
1         2
2         3
3         9
4         8
5         7

In [5]:
m = np.arange(1, 10).reshape(3, 3)
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(m, columns= ["sütun 1", "sütun 2", "sütun 3"])

   sütun 1  sütun 2  sütun 3
0        1        2        3
1        4        5        6
2        7        8        9

In [9]:
df = pd.DataFrame(m, columns= ["sütun 1", "sütun 2", "sütun 3"])
df.head()

   sütun 1  sütun 2  sütun 3
0        1        2        3
1        4        5        6
2        7        8        9

In [10]:
df.columns

Index(['sütun 1', 'sütun 2', 'sütun 3'], dtype='object')

In [11]:
df.columns = ("sütun 4", "sütun 5", "sütun 6")
df.columns

Index(['sütun 4', 'sütun 5', 'sütun 6'], dtype='object')

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.axes # satır ve sütun bilgileri

[RangeIndex(start=0, stop=3, step=1),
 Index(['sütun 4', 'sütun 5', 'sütun 6'], dtype='object')]

In [14]:
# df. axes/shape/ndim/size/values kullanılabilir