In [1]:
# github.com/echtr

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
diamonds = sns.load_dataset("diamonds")
df = diamonds.copy()
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
carat,53940.0,0.797940,0.474011,0.2,0.40,0.70,1.04,5.01
depth,53940.0,61.749405,1.432621,43.0,61.00,61.80,62.50,79.00
table,53940.0,57.457184,2.234491,43.0,56.00,57.00,59.00,95.00
price,53940.0,3932.799722,3989.439738,326.0,950.00,2401.00,5324.25,18823.00
x,53940.0,5.731157,1.121761,0.0,4.71,5.70,6.54,10.74
y,53940.0,5.734526,1.142135,0.0,4.72,5.71,6.54,58.90
z,53940.0,3.538734,0.705699,0.0,2.91,3.53,4.04,31.80

In [8]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [9]:
df.shape

(53940, 10)

In [15]:
print(f'{df["cut"].value_counts()}  \n \n {df["color"].value_counts()}')

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

 G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [16]:
# 'cut' değeri, elmasın değerini ifade eden değişkenlerden biri. 
#sıralı olarak: Fair < Good < Very Good < Premium < Ideal

In [18]:
from pandas.api.types import CategoricalDtype # kategorik tanımlama için gerekli import işlemi

In [19]:
df.cut.head()

0      Ideal
1    Premium
2       Good
3    Premium
4       Good
Name: cut, dtype: category
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [24]:
df.cut = df.cut.astype(CategoricalDtype(ordered = True))
df.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

In [25]:
# üstteki kendi kafasına göre bir sıralama yapmış fakat bu doğru bir sıralama değil. bu yüzden değerleri el ile giriyoruz
kategoriler = ["Fair", "Good", "Very Good", "Premium", "Ideal"]

In [29]:
df.cut = df.cut.astype(CategoricalDtype(categories = kategoriler, ordered = True))
df.cut.head() # doğru bir sıralama yaptı

0      Ideal
1    Premium
2       Good
3    Premium
4       Good
Name: cut, dtype: category
Categories (5, object): ['Fair' < 'Good' < 'Very Good' < 'Premium' < 'Ideal']